langchain
langgraph
langchain-groq
langchain-cohere
langchain-core
langchain-community
typedict
langchain-chroma
pysqlite3
langgraph-checkpoint-sqlite
fastapi 
uvicorn
python-dotenv

livekit-agents
livekit-plugins-silero
livekit-plugins-langchain
livekit-plugins-groq 
livekit-plugins-deepgram 
livekit-plugins-sarvam

aiosqlite